<div class="two-row-menu container" role="menu">
  <div class="row menu" aria-disabled="true">
    <span id="text" aria-hidden="true" class="overflow" aria-disabled="true"><p>{{topMenuText}}</p></span>
    <span id="info" role="alert" aria-atomic="true" class="overflow">
      <p></p>
    </span>
  </div>
  <div class="menu">
    <button class="bottom-left menu center-block" id="readText" role="menuitem" aria-labelledby="bottomLeftHeader" aria-describedby="bottomLeftDescription">
      <p id="bottomLeftHeader">{{bottomLeftText}}</p>
      <p id="bottomLeftDescription" aria-hidden="false" class="hidden">{{bottomLeftDescription}}</p>
    </button>
    <a href="{{bottomRightLink}}" class="menu bottom-right" role="menuitem" aria-labelledby="bottomRightHeader" aria-describedby="bottomRightDescription">
      <div class="bottom-right menu">
        <p id="bottomRightHeader">{{bottomRightText}}</p>
        <p id="bottomRightDescription" aria-hidden="false" class="hidden">{{bottomRightDescription}}</p>
      </div>
    </a>
  </div>
</div>